//-----------------
//--- B A N N E R
//-----------------

.banner
{
  background-color:var(--first-color);
  padding-bottom : var(--paddingY);
  @include from ($m3){
    height         : 100vh;
    padding-bottom : 0;
    background-image: linear-gradient(
                        90deg,
                        var(--bg-light) 68%,
                        var(--first-color) 32%);
  }
  &__container{
    --columns             : 1;
    --gap                 : 20px;
    display               : grid;
    grid-template-columns : repeat(var(--columns), 1fr);
    grid-gap              : var(--gap);
    @include from ($m3){
      --columns   : 12;
      --gap       : 30px;
      height      : 100%;
      max-width   : 100%;
      width       : 100%;
      align-items : center;
    }
    @include from ($m4){
      --gap : 40px;
    }
    .banner__calado{
      --margin     : auto;
      margin-left  : var(--margin);
      margin-right : var(--margin);
      width        : 80px;
      @include from ($m3){
        position  : absolute;
        top       : 0;
        left      : 70%;
        transform : translateX(-70%);
        width     : 120px;
      }
      @include from ($m4){
        width: 130px
      }
      @include from ($m5){
        width: 150px
      }
      @media screen and (min-width:1700px){
        width: 170px
      }
    }

    .banner__img{
      @include bg-cont;
      background-image : url(../../public/img/banner/img-2.jpg);
      height           : 200px;
      order            : 1;
      @include from ($m2){
        height: 300px
      }
      @include from ($m3){
        order: 0;
        grid-column: 1 / 4;
      }
      @include from ($m4){
        height: 400px
      }
    }

    .banner__info{
      order      : 0;
      color      : var(--text-light);
      text-align : center;
      @include from ($m2){
        --margin     : auto;
        max-width    : 500px;
        margin-left  : var(--margin);
        margin-right : var(--margin)
      }
      @include from ($m3){
        --margin    : initial;
        color       : var(--text-dark);
        grid-column : 4 / 8;
        max-width   : 100%;
        text-align  : left;
      }
      .banner__title{
        font-size : 2.5rem;
        @include from ($m2){
          font-size:3.5rem
        }
        @include from ($m3){
          font-size:4.5rem
        }
        @include from ($m4){
          font-size : 5.5rem;
        }
        @include from ($m5){
          font-size : 6rem;
        }
        @media screen and (min-width: 1600px){
          font-size:6.5rem;
        }
      }
      .banner__franja{
        @include from ($m3){
          position     : relative;
          padding-left : 90px;
          &:after{
            content          : '';
            width            : 70px;
            height           : 2px;
            position         : absolute;
            top              : 10px;
            left             : 0;
            background-color : var(--first-color);
          }
        }
        .button_container{
          justify-content:center;
          @include from ($m3){
            justify-content : flex-start;
            a{
              background-color : var(--first-color);
            }
          }
        }
      }
    }
  }
}

//-----------------
//--- A B O U T
//-----------------

.about{
  padding-top    : var(--paddingY);
  padding-bottom : var(--paddingY);
  @include from ($m3){
    --paddingY : 5rem;
    padding-bottom: 180px;
    position   : relative;
    &:after{
      content          : '';
      display          : block;
      width            : 75%;
      height           : calc(100% - 50%);
      top              : 50%;
      right            : 0;
      position         : absolute;
      z-index          : -1;
      background-color : var(--first-color);
    }
  }
  &__container{
    --columns: 1;
    --gap: 20px;
    @include from ($m3){
      --columns             : 12;
      --gap                 : 30px;
      display               : grid;
      grid-template-columns : repeat(var(--columns), 1fr);
      grid-gap              : var(--gap);
      max-width             : 100%;
      width                 : 100%;
    }
    @include from ($m4){
      --gap: 40px
    }
    .about__header{
      --margin         : auto;
      color            : var(--text-dark);
      text-align       : center;
      max-width        : 600px;
      margin-left      : var(--margin);
      margin-right     : var(--margin);
      @include from ($m3){
        --margin   : initial;
        text-align : left;
        max-width  : 100%;
        grid-column: 2 / 7;
      }
      @include from ($m4){
        grid-column: 3 / 7
      }
      .about__title{
        @include from ($m2){
          font-size : 2rem
        }
        @include from ($m3){
          font-size : 2.5rem;
        }
        @include from ($m4){
          font-size : 3rem;
        }
      }
    }
    .about__img{
      @include from ($m3){
        @include bg-cont;
        background-image:url('../../public/img/about/bg-img.jpg');
        grid-column: 5 / 13;
        height: 400px;
      }
      @include from ($m4){
        height: 450px
      }
      @include from ($m5){
        height: 500px
      }
    }
    .about__carrousel{
      margin-top : 40px;
      @include from ($m3){
        margin-top  : 0;
        grid-column : 2 / 12;
        overflow: hidden;
      }
      .owl-dots{
        display : none;
      }
      .item{
        text-align:center;
        color: var(--text-dark);
        img{
          width      : 100%;
          max-width  : 300px;
          height     : 150px;
          object-fit : cover;
          @include from ($m3){
            height: 200px
          }
        }
        h4{
          margin-top : 1rem;
        }
      }
      .owl-nav{
        button{
          font-size : 2.5rem;
          color     : var(--first-color);
          position  : absolute;
          top       : 50%;
          transform : translateY(-50%);
          outline   : none;
          @include from ($m3){
            font-size: 3.5rem;
            top: calc(50% - 10px);
            color     : var(--second-color);
          }
          @include from ($m4){
            font-size: 4rem
          }
        }

        .owl-prev{
          left : 0;
          @include from ($m3){
            left: -40px
          }
          @include from ($m4){
            left: -40px
          }
        }

        .owl-next{
          right : 0;
          @include from ($m3){
            right: -40px
          }
          @include from ($m4){
            right: -40px
          }
        }
      }
    }
  }
}

//-----------------
//--- P R O D U C T
//-----------------

.product{
  padding-top      : var(--paddingY);
  padding-bottom   : var(--paddingY);
  background-color : var(--second-color);
  @include from ($m3){
    --paddingY : 5rem;
    padding-bottom: calc(var(--paddingY) + 100px);
    position: relative;
    background-color: transparent;
    &:after{
      content: '';
      width: 75%;
      height: 100%;
      display: block;
      position: absolute;
      left: 0;
      top: -100px;
      z-index: -2;
      background-color: var(--second-color)
    }
  }

  &__container{
    @include from ($m3){
      --columns             : 12;
      --gap                 : 30px;
      display               : grid;
      grid-template-columns : repeat(var(--columns), 1fr);
      grid-gap              : var(--gap);
      max-width: 100%;
      width: 100%
    }
    @include from ($m4){
      --gap : 40px;
    }
    .product__header{
      --margin         : auto;
      color            : var(--text-light);
      text-align       : center;
      max-width        : 600px;
      margin-left      : var(--margin);
      margin-right     : var(--margin);
      @include from ($m3){
        --margin         : initial;
        text-align       : left;
        max-width        : 100%;
        grid-column      : 2 / 7;
      }
      @include from ($m4){
        grid-column: 3 / 7;
      }
      .product__title{
        @include from ($m2){
          font-size : 2rem
        }
        @include from ($m3){
          font-size : 2.5rem;
        }
        @include from ($m4){
          font-size : 3rem;
        }
      }
      .button_container{
        justify-content : center;
        @include from ($m3){
          justify-content: flex-start
        }
      }
    }
    .product__img{
      margin-top : 40px;
      @include from ($m3){
        grid-column: 7 / 13;
        margin-top: 0;
        .container{
          width: initial;
          max-width: 200px;
        }
      }
      .item{
        img{
          @include from ($m3){
            width: 200px
          }
        }
      }
      .owl-nav{
        button{
          font-size : 2.5rem;
          color     : var(--bg-light);
          position  : absolute;
          top       : 50%;
          transform : translateY(-50%);
          outline   : none;
          @include from ($m3){
            font-size: 3.5rem;
            color     : var(--first-color);
          }
          @include from ($m4){
            font-size: 4rem
          }
        }

        .owl-prev{
          left : 0;
          @include from ($m3){
            left: -40px
          }
          @include from ($m4){
            left: -60px
          }
        }

        .owl-next{
          right : 0;
          @include from ($m3){
            right: -40px
          }
          @include from ($m4){
            right: -60px
          }
        }
      }
    }
  }
}

//-----------------
//--- C O N T A C T 
//-----------------

.contact{
  padding-top: var(--paddingY);
  padding-bottom: var(--paddingY);
  @include from ($m3){
    @include bg-cont;
    background-position: right;
    position: relative;
    height: 100vh;
    margin-bottom: 6rem;
    background-image: linear-gradient(
      -90deg,
      transparent 75%,
      var(--bg-light) 25%),
      url('../../public/img/contact/bg-img.jpg')
  }
  &__container{
    .contact__main{
      @include from ($m3){
        position: absolute;
        left: 15%;
        top: 50%;
        transform: translate(-15%, -50%);
        padding:  2.5rem 1.5rem;
        box-shadow: 0 0 10px 1px rgba($bg-dark,.1);
        background-color: var(--first-color);
      }
      @media screen and (min-width:1600px){
        left: 17%;
      }
      @media screen and (min-width:1850px){
        left: 18%;
      }
      .contact__header{
        text-align: center;
        color: var(--text-dark);
        @include from ($m3){
          color: var(--text-light);
        }
        .contact__title{
          @include from ($m2){
            font-size : 2rem
          }
          @include from ($m3){
            font-size : 2.5rem;
          }
          @include from ($m4){
            font-size : 3rem;
          }
        }
      }
      .contact__form{
        --columns: 1;
        --gap: 20px;
        --margin: auto;
        width: 100%;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: repeat(var(--columns), 1fr);
        grid-gap: var(--gap);
        max-width: 350px;
        margin-left: var(--margin);
        margin-right: var(--margin);
        input,
        textarea{
          width: 100%;
          border-bottom: 1px solid var(--first-color);
          @include from ($m3){
            border-bottom: none
          }
        }
        input{
          color: var(--text-dark);
          &::placeholder{
            color: var(--text-dark);
          }
        }
        textarea{
          color: var(--text-dark);
          &::placeholder{
            color: var(--text-dark);
          }
        }
        .button_container{
          justify-content: center;
          a{
            @include from ($m3){
              background-color: var(--second-color)
            }
          }
        }
      }
    }
  }
}