extends ../config/template
append config
    - NombPagina = "Soluciones creativas"
prepend styles
block contenido

    //-- B A N N E R
    //--------------
    .banner#banner
        .banner__container.container
            img(class='banner__calado calado-1' src='public/img/banner/img-1.png' alt='lanyard')
            .banner__img
            .banner__info
                h2.banner__title Soluciones creativas
                .banner__franja
                    p.description Entendemos la importancia de reflejar la marca mediante el uso correcto del branding y sus aplicaciones.
                    +button(
                        'second-color',
                        '#about',
                        'Conócenos'
                    )
    
    //-- A B O U T
    //--------------
    .about#about
        .about__container.container
            .about__header
                h2.about__title Productos personalizados a tu medida con calidad
                p.description Producimos productos efectivos para posicionar tu marca, nos gusta prestar atención en los pequeños detalles de cada uno de nuestros productos con diseños innovadores.
            
            .about__img
            
            .about__carrousel
                .row.wow.fadeInUp.container
                    .large-12.columns
                        .owl-carousel.owl-carousel1.owl-theme.owl-loaded.owl-drag
                            .owl-stage-outer
                                .owl-stage
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-1.jpg", alt="Lanyard")
                                            //
                                                h4 Primer modelo
                                                p.description Lorem ipsum dolor sit amet.
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-4.jpg", alt="Lanyard")
                                            //
                                                h4 Segundo modelo
                                                p.description Lorem ipsum dolor sit amet.
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-3.jpg", alt="Lanyard")
                                            //
                                                h4 Tercer modelo
                                                p.description Lorem ipsum dolor sit amet.
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-2.jpg", alt="Lanyard")
                                            //
                                                h4 Cuarto modelo
                                                p.description Lorem ipsum dolor sit amet.
                                    .owl-item
                                        .item
                                            img(src="public/img/about/carrusel-5.jpg", alt="Lanyard")
                                            //
                                                h4 Quinto modelo
                                                p.description Lorem ipsum dolor sit amet.

    //-- P R O D U C T
    //--------------
    .product#product
        .product__container.container
            .product__header
                h2.product__title Creamos un excelente empaque
                p.description Diferenciate de tu competencia, dale valor a tu marca como las grandes empresas, transmite prestigio y calidad mediante productos que acompañen a tu cliente durante el día a día.
                +button(
                    'first-color',
                    '#contact',
                    'Contáctanos'
                )
            
            .product__img
                .row.wow.fadeInUp.container
                    .large-12.columns
                        .owl-carousel.owl-carousel2.owl-theme.owl-loaded.owl-drag
                            .owl-stage-outer
                                .owl-stage
                                    .owl-item
                                        .item
                                            img(src="public/img/bolsa/product-1.png", alt="img-1")
                                    .owl-item
                                        .item
                                            img(src="public/img/bolsa/product-1.png", alt="img-1")
                                    .owl-item
                                        .item
                                            img(src="public/img/bolsa/product-1.png", alt="img-1")

    //-- C O N T A C T
    //--------------
    .contact#contact
        .contact__container.container
            .contact__main
                .contact__header
                    h2.contact__title Contáctanos
                    p.description Comienza a llevar a tu marcal al siguiente nivel
                form.contact__form
                    input(type='text' name='nombre' placeholder='Nombre y Apellido')
                    input(type='email' name='nombre' placeholder='Correo Electrónico')
                    input(type='text' name='nombre' placeholder='Celular')
                    textarea(placeholder='Cuéntanos tu consulta')
                    +button(
                        'first-color',
                        'index.html',
                        'Contáctanos'
                    )

prepend script-final
    //-- OWL CAROUSEL JS
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
    script.
       $('.owl-carousel2').owlCarousel({
           loop:true,
           margin:10,
           autoplay: true,
           nav: false,
           responsiveClass:true,
           responsive:{
                0:{
                items:1
                }
            }
        })

    script.
       $('.owl-carousel1').owlCarousel({
           loop:true,
           margin:10,
           autoplay: true,
           nav: false,
           responsiveClass:true,
           responsive:{
           0:{
           items:1
           },
           600:{
           items:2
           },
           900:{
           items:3
           }
            }
        })

   
