header{
    width            : 100%;
    position         : fixed;
    z-index          : 9;
    @include from ($m3){
        box-shadow       : unset;
        background-color : transparent;
        position         : absolute;
        padding-top      : 1rem;
        padding-bottom   : 1rem
    }

    .header__contenedor{
        padding-top     : .5rem;
        padding-bottom  : .5rem;
        display         : flex;
        justify-content : space-between;
        align-items     : center;
        @include from ($m3){
            padding-top    : 0;
            padding-bottom : 0;
            justify-content:flex-start;
        }

        &--logotipo
        {
            position : relative;
            z-index  : 2;
            @include from ($m3){
                margin-right: 1.8rem;
            }
            a{
                background-image    : url(../../public/img/logotipo.svg);
                background-repeat   : no-repeat;
                background-position : center;
                background-size     : contain;
                width               : 100px;
                height              : 55px;
                text-indent         : -1000em;
                display             : block;
                @include from ($m2){
                    width  : 130px;
                    height : 70px;
                }
                @include from ($m3){
                    background-image:url(../../public/img/logotipo-alt.svg);
                    width  : 170px;
                    height : 50px;

                }
            }
        }

        &--icono{
            width    : 30px;
            cursor   : pointer;
            display  : block;
            position : relative;
            z-index  : 2;
            .icon-element{
                width            : 100%;
                height           : 2px;
                transition       : transform .5s, opacity .5s;
                background-color : $bg-light;
                &:nth-child(2){margin-top : 5px}
                &:nth-child(3){margin-top : 5px}
            }

            @include from ($m3){display : none}
        }

        .iconClick{
            .icon-element{
                &:nth-child(1){
                    transform : rotate(45deg) translate(5px, 5px)
                }
                &:nth-child(2){
                    transform : translateX(20px);
                    opacity   : 0;
                }
                &:nth-child(3){
                    transform : rotate(-45deg) translate(5px, -5px)
                }
            }
        }

        nav
        {
            position         : fixed;
            width            : 100%;
            background-color : $bg-dark;
            top              : 0;
            left             : 0;
            pointer-events   : none;
            opacity          : 0;
            transition       : opacity .5s;
            height           : 100vh;
            display          : flex;
            align-items      : center;
            @include from ($m2)
            {
                top    : 86px;
                height : calc(100% - 86px)
            }
            @include from ($m3)
            {
                pointer-events   : auto;
                opacity          : 1;
                position         : static;
                height           : unset;
                width            : unset;
                background-color : transparent
            }

            .nav__lista
            {
                width            : 100%;
                @include from ($m3)
                {
                    display     : flex;
                    align-items : center
                }

                &--item{
                    text-align: center;
                    a{
                        color     : var(--text-light);
                        font-size : 1.1rem;
                        padding   : 1rem .8rem;
                        display   : inline-block;
                        @include from ($m3){
                            color       : var(--text-dark);
                            padding     : 0 1.5rem;
                            font-weight : 400;
                            font-size   : .9rem;
                        }
                        @include from ($m4){
                            padding: 0 1.8rem;
                        }
                    }
                }
            }
        }

        .navTranslate{
            pointer-events:  auto;
            opacity: 1;
        }
    }
}